!!!
%html
  %head
    %title Til
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #auth_bar.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.collapse'}
            %span.icon-bar
          %a.brand{href: '#'} Bag of Nails
          .nav-collapse
            %ul.nav
              - if current_user
                %li
                  %a{href: '#'}= current_user.name
            %ul.nav.pull-right
              %li
                - if current_user
                  = link_to "Sign Out", signout_path
                - else
                  = link_to "Sign in with Twitter", "/auth/twitter"
                  - unless Rails.env.production?
                    %li
                      = link_to "Dev sign in", "/auth/developer"

    #main.container
      = yield
