!!!
%html
  %head
    %title devNotes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
            %span.icon-bar
          %a.brand{href: '#'} devNotes
          .nav-collapse
            %ul.nav#note_button_bar
            %ul.nav.pull-right
              - if current_user
                %li
                  %a{href: '#'}= current_user.name
              %li
                - if current_user
                  = link_to "Sign Out", signout_path
                - else
                  = link_to "Sign in with Twitter", "/auth/twitter"
                  - unless Rails.env.production?
                    %li
                      = link_to "Dev sign in", "/auth/developer"

    #main.container
      .row
        = yield
